* {
  margin: 0;
  padding: 0;
}

.helloworld {
  box-sizing: border-box;
  z-index: 99999;
  position: fixed;
  border: 40px solid rgba(196, 190, 190, 0.5);
  border-radius: 50%;
  width: 380px;
  height: 380px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: coral;
  font-size: 10px;
}

.line_wrap{
  position: absolute;
  top: -40px;
  left: -40px;
  width: 380px;
  height: 380px;
  z-index: 1;
}
.line_wrap .container{
  position: fixed;
}

.helloworld ul {
  position: relative;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.helloworld li {
  list-style: none;
  width: 0px;
  height: 3px;
  border-left: 1px solid #000;
  position: absolute;
  left: 149px;
  top: 0;
  transform-origin: center 150px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.helloworld li:nth-of-type(5n) {
  height: 9px;
}

.helloworld li:nth-of-type(10n) {
  /*text-indent: -4px;*/
  padding-top: 10px;
  height: 1px;
  /*background: coral;*/
  font-size: 10px;
}

.helloworld li:nth-of-type(10n) em{
  font-style: inherit;
  display: inline-block;
  transform: scale(.7);
}

.line_0 {
  position: absolute;
  height: 40px;
  border-left: 1px solid chocolate ;
  width: 0px;
  left: 189px;
  top: 0px;
  transform-origin: center 190px;
  transform: rotate(0deg);
  }
.line_180 {
  position: absolute;
  height: 40px;
  border-left: 1px solid chocolate ;
  width: 0px;
  left: 189px;
  top: 0px;
  transform-origin: center 190px;
  transform: rotate(180deg);
}

.line_90 {
  position: absolute;
  height: 40px;
  border-left: 1px solid green;
  width: 0px;
  left: 189px;
  top: 0px;
  transform-origin: center 190px;
  transform: rotate(90deg);
}
.line_270 {
  position: absolute;
  height: 40px;
  border-left: 1px solid green;
  width: 0px;
  left: 189px;
  top: 0px;
  transform-origin: center 190px;
  transform: rotate(270deg);
}


